{
    "loglevel": "INFO",
    "website_listen_ip": "0.0.0.0",
    "website_listen_port": 7100,
    "systemd_service_name": "lacus",
    "concurrent_captures": 2,
    "only_global_lookups": true,
    "_notes": {
        "loglevel": "Can be one of the value listed here: https://docs.python.org/3/library/logging.html#levels",
        "website_listen_ip": "IP Flask will listen on. Defaults to 0.0.0.0, meaning all interfaces.",
        "website_listen_port": "Port Flask will listen on.",
        "systemd_service_name": "(Optional) Name of the systemd service if your project has one.",
        "concurrent_captures": "How many captures can happen at the same (expect ~2Gb of ram/capture)",
        "only_global_lookups": "Set it to True if your instance is publicly available so users aren't able to scan your internal network"
    }
}
